<div>
    
    <h3>License</h3>
    <p>
    The use of cBiT is free of charge for academic users. License under BSD-2 clause.    
    </p>
    <h3>Disclaimer</h3>
    <p>
    The information, services or products provided on cBiT may contain errors and may be subject to temporary interruption. Although we do our best to provide all information, services and products as complete and accurate as possible, we cannot be held responsible for any errors, defects or other harmful consequences, deriving from the use of cBiT. Therefore we renounce any liability whatsoever, within the boundaries of Dutch law. 
    </p>

</div>