<div>
    <div  class="col-6 col-sm-4" style='width:200px;max-width:200px'>
        <h5>Participating institutes</h5>
         <img class='image' src='images/TUE_logo.png' style="width:150px;heigth:150px"/>
    </div>
    <div class="container" class="col-6 col-sm-4">
        <div class="card-rows">
          <div class="card bg-light w-75" style="padding: 10px;border:solid;border-width:0.5px;margin:20px">
            <div class="card-body">
                <h5 class="card-title">Materials-driven regeneration program</h5>
              <p class="card-text">Part of this work is funded by the Materials-Driven regeneration (MDR) program.The interdisciplinary team of researchers within the MDR consortium aims to focus on the research and development of new, intelligent materials that stimulate the regeneration of damaged or diseased tissues and organs. Three research flagships are defined according to hierarchical levels of increasing length scale and structural complexity.</p>
            </div>
          </div>
          <div class="card bg-light w-75" style="padding: 10px;border:solid;border-width:0.5px;margin:20px">
            <div class="card-body">
                <h5 class="card-title" style="font-color:blue">License</h5>
              <p class="card-text">The use of cBiT is free of charge for academic users. License under BSD-2 clause. </p>
            </div>
          </div>
          <div class="card bg-light w-75" style="padding: 10px;border:solid;border-width:0.5px;margin:20px;">
            <div class="card-body">
                <h5 class="card-title">Disclaimer</h5>
              <p class="card-text">The information, services or products provided on cBiT may contain errors and may be subject to temporary interruption. Although we do our best to provide all information, services and products as complete and accurate as possible, we cannot be held responsible for any errors, defects or other harmful consequences, deriving from the use of cBiT. Therefore we renounce any liability whatsoever, within the boundaries of Dutch law. 
            </p>
            </div>
          </div>
        </div>
      </div>  
</div>