<div style='margin:2em;'>
	<div class='row'>
	  <p class="card-text"><a ui-sref="repo">Go back to overview</a></p>
	</div>
	<div class='row'>
		<h3> Study overview </h3>

		<div class="row" style="background-color:smokewhite;" ng-app='studyView'>
              <div class="card-body" style='border:solid;border-width:0.5px;'>
              <h5 class="card-title"> <b>Title: </b> {{$ctrl.testnaam}} </h5>
              <p class="card-text">{{$ctrl.testdata}} </p>
			  <p class='card-text'>{{$ctrl.testid}} </p>
            </div>
        </div>	


	</div>


</div>