<!-- The home tab of the ata repository-->
<!-- Sidebar -->
<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
        <h3>Navigation panel</h3>
        <div style="border:1px solid black;">
            <h5 style="font-weight:bold">Study type to include:</h5>
            <form>
                <input type="radio" name="generic" ng-model="studyFilter" value="!showallstudies" checked>
                <label> All studies</label> <br>
                <input type="radio" name="generic" ng-model="studyFilter" value="Heart valve study">
                <label>Heart valve study</label> <br>
                <input type="radio" name="generic" ng-model="studyFilter" value="TopoChip screen">
                <label>TopoChip Screen</label> <br>
                <input type="radio" name="generic" ng-model="studyFilter" value="Supramolecular">
                <label>Supramolecular biomaterials</label>
            </form>
       </div>
       <div><span></span></div>
       
       <div>
        <span><p> Perform a text search (custom query) </p></span>
          <form ng-submit="submit(form)"> 
            <textarea rows="5" cols="40" ng-model="form.search">Type your search here </textarea>
            <input type="submit">
          </form>
          <button ng-click="resetFunction()">Reset </button>
        </div>
      
      
       
      <!-- End the navigation panel -->
      </div>
    
    <div id='dataContent' ng-app="dataRepository" class="col-xs-6 col-sm-8" style="background-color:lavenderblush;">
          <div class="row" style="background-color:white;">
            <div class="col-sm-12">
                <div class="card border-dark mb-3">
                    <div class="card-block">
                        <h4 class="card-title" style="text-decoration: underline;color:'blue';">Datasets</h4>
                        <p class="card-text">There are currently {{datasetcount}} studies in the Biomaterial Atlas</p>
                    </div>
                </div>
            </div>
      
     
        </div>
        <div >
        <div class="row" style="background-color:white;" ng-repeat="dataEntry in dataset | filter:{Studytype:studyFilter} track by $index" >
            <div class="card-studyDescription  col-xs-8 ">
              <div class="card-body .card-body-images">
              <h5 id="card-title-studyDescription">{{dataEntry.Studytype}} </h5>
              <p class="card-text"><b>Title: </b>{{dataEntry.Title}} </p>
              <p class="card-text"><b>Project: </b>{{dataEntry.Project}} </p>
              <p class="card-text"><b>Lead author: </b>{{dataEntry.Lead_author}} </p>
              <p class="card-text"><b>DOI:</b>{{dataEntry.DOI}} </p>        
              <!-- A modal showed show the study description based on study type -->
              <p class="card-text"><a ui-sref="aboutstudy({ID:dataEntry.ID})"> Show study</a></p>
            </div>
            </div>
          </div>
        </div>
         </div>
    </div>
  </div>
    <!-- Add clearfix for only the required viewport -->
    <div class="clearfix visible-xs"></div>
    <div ui-view='studyView'></div
    
</div>







